.App {
  text-align: center;
}
body{
  padding: 15px;
}

/*custom todo's style*/
.todo{
  width: 80%;
  padding: 10px;
  height: 40px;
  border: solid 2px black ;
  border-radius: 5px ;
  margin: 20px 10%;
}

.done{
  background: aquamarine;

}
.not-done{
  background: lightcoral;
}
.description{
  position: relative;
  width: 50%;
  display: inline-block;
}
.mark{
  position: relative;
  display: inline-block;
  height: 100%;
  float: right;
  width: 15%;
  cursor: pointer;
  border: solid 2px black ;
  border-radius: 5px ;

}
.mark .icon{
  font-size: 20px;
}
.delete{
  background: orange;
}